{% extends "layouts/_main" %}

{% block container %}
    {{ entry.title }}
    {{ entry.description }}

    <ul>
        {% for case in entry.casesSelector %}
            <li>{{ case.title }}</li>
        {% endfor %}
    </ul>

    <hr>

    <ul>
        {% for case in craft.entries.section('cases').all() %}
            {% set isDetail = case.type == 'detail' %}
            <li>
                <a href="{{ isDetail ? case.url : case.externalLink }}" target="{{ isDetail ? '_self' : '_blank' }}">
                    {{ case.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <ul>
        {% for case in craft.entries.section('cases').type('detail').all() %}
            <li>
                <a href="{{case.url}}">
                    {{ case.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}